#intent-editeur{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr 250px;
}
.tools{
    grid-column: 1 / span 3;
    grid-row: 1;

    border-bottom: 1px solid #EBEBEB;
}
.tools{
    font-size: 25px;
    padding: 0 5px;
}
.tools div.m-icon{
    display: inline-block;
    margin: 0;
    padding: 0 3px;

    line-height: 51px;
    text-align: center;
}
.tools div.extra-pad{
    padding: 0 5px;
}
.tools .break{
    display: inline-block;
    position: relative;
    top: -10%;
    height: 60%;
    width: 1px;
    margin: 0 6px;

    background: #B1B0AF;
}
#icon-menu{
    margin-right: 10px;
}
#icon-color{
    font-family: Raleway;
    font-weight: 700;
}
#icon-color, #icon-highlight{
    position: relative;
    top: -25%;
    width: 27px;
    font-size: 22px;
    line-height: 25px;
    border-bottom: 4px solid #000;
}
.tools .right{
    position: relative;
    float: right;
}

#floating-color-circle{
    transition: transform .3s ease, left .3s ease;

    position: fixed;
    top: 60px;
    /* left: 100px; */
    padding: 7px;
    height: 40px;

    border-radius: 5px;
    background: #fff;
    border: 1px solid #EBEBEB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    transform: scale(0);
}
#floating-color-circle.show{
    transform: scale(1);
}

.color-circle{
    display: inline-block;
    height: 25px;
    width: 25px;

    border: 1px solid #FFF;
    border-radius: 30px;
}

aside{
    padding: 5px;
    grid-column: 2;
    grid-row: 2 / 4;

    background: rgb(247,247,248);
}
section.intent.latexIsOn aside{
    display: none;
}
aside input{
    display: block;
    width: 100%;
}
div.paper{
    grid-column: 1;
    grid-row: 2 / 4;
    overflow: hidden;
}
section.intent.latexIsOn div.paper{
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}
div.paper *{
    -webkit-user-select: all;
    -webkit-user-drag: auto;
}
.paper .page{
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow-y: scroll;
}

.page header{
    color: var(--pinky);
}
.page header h2{
    padding: 0;
    font-size: 100%;
}
.page .lessonContent{
    padding-top: 20px;
    overflow: visible;
}
.page *{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.page .number{
    -webkit-user-modify: read-only;
}
.page .number:after{
    content: " ";
}
.stop{
    -webkit-user-modify: read-only;
}
.page .h-title{
    -webkit-user-modify: read-write;    
}
.page h1,h2,h3,h4,h5,h6{
    margin: 5px 0;
    -webkit-user-modify: read-only;
}
.page h1{
    color: var(--pinky);
}
.page h2{
    padding-left: 20px;

    color: var(--bluish);
} 
.page p{
    min-height: 21px;
    width: 100%;
}
.page p:empty:before {
    content: "";
    display: block; /* For Firefox */
}

.note{
    transition: transform .5s ease;

    position: absolute;
    width: 40px;
    top: -2px;
    left: -40px;
    
    color: #000;
    font-size: 135%;
    text-align: center;

    overflow-wrap: normal;
}

.specialKey{
    --keyColor: var(--bluish);
    position: relative;

    border-bottom: 1px solid var(--keyColor);
    -webkit-user-modify: read-only;
    overflow: visible;
}


.specialKey .keyword{
    position: relative;
    padding: 3px 7px;
    display: inline-block;

    color: white;
    font-style: italic;
    font-weight: 400;
    -webkit-user-modify: read-only;

    background: var(--keyColor);
    border-top-right-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.specialKey .hr{
    content: "";
    display: block;
    width: 100%;
    height: 1px;

    -webkit-user-modify: read-only;

    background: var(--keyColor);
}
.specialKey .title{
    margin: 15px 0 10px 0;
    min-height: 21px;

    font-size: 110%;
    font-weight: bold;
    color: var(--keyColor);
    -webkit-user-modify: read-only;
}
.specialKey .title span{
    display: inline-block;
    width: 100%;
    -webkit-user-modify: read-write;    
}
.specialKey .title span:empty:before{
    content: "Titre";
    color: #AAA;
    font-weight: normal;
}
.specialKey .title br{
    display: none;
}
.specialKey p{
    margin:  0;
    margin-bottom: 15px;
    -webkit-user-modify: read-write;    
}.formula{
    -webkit-user-modify: read-only;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.formula.inline{
    display: inline-block;
    padding: 5px 10px;
    font-size: 90%;
}


div.latex-editor{
    display: none;
    padding: 10px;
    grid-row: 3;
    grid-column: 1 / span 3;
    background: #EEE;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
section.latexIsOn .latex-editor{
    display: block;
}
.latex-editor #latex-text{
    position: relative;
    float: left;
    width: 95%;
    height: 50%;
    padding: 5px;

    font-size: 90%;
    font-family: 'IBM Plex Mono';

    border: none;
    border-radius: 5px;
    resize: none;

}
.latex-editor .options{
    position: relative;
    float: right;
    text-align: center;
    width: 5%;
}


.latex-editor .buttons{
    position: static;
    display: block;
    padding-top: 10px;
    width: 100%;
    clear: both;
}
.latex-editor .buttons button, .latex-editor .options .m-icon{
    width: 50px;
    height: 40px;
    padding: 8px;

    font-size: 100%;

    background: #FFF;
    border: none;
    border-radius: 5px;
}
.latex-editor .options .m-icon{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 150%;
    margin-bottom: 8px;
}
.latex-editor .options .confirm{
    color: white;
    background: var(--green-ok);
}

